/*General Label Style*/
ul.labels{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-weight: 100;
  line-height: 13px;
}
ul.labels li{
  display: inline;
  color: #CCCCCC;
  float: left;
  margin: 0px 2px 2px 0px;
  height: 13px;
}

ul.labels li span{
  background: url(../../assets/assign3/label_front.gif) no-repeat center left;
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
  padding: 0px 3px;
  color: white;
  vertical-align: top;
  float: left;
}

ul.labels li a{
  padding: 1px 4px 0px 11px;
  padding-top  /*\**/: 0px\9; /*Hack for IE*/
  background: url(../../assets/assign3/labelx.gif) no-repeat center right;
  cursor: pointer;
  border-left: 1px dotted white;
  outline: none;
}
ul.labels li a:hover{
  background: url(../../assets/assign3/labelx_hover.gif) no-repeat center right;
}

/*Colored Label Attributes*/
ul.labels li.pink{
  background-color: #F1A9E7;
}
ul.labels li.lightblue{
  background-color: #99CCFF;
}
ul.labels li.blue{
  background-color: #3019FF;
}
ul.labels li.olive{
  background-color: #CCCC66;
}
ul.labels li.green{
  background-color: #37B700;
}
ul.labels li.brown{
  background-color: #C5AD98;
}
ul.labels li.violet{
  background-color: #CEA6CE;
}
ul.labels li.turk{
  background-color: #8FCDB6;
}
ul.labels li.red{
  background-color: #EE998A ;
}
ul.labels li.orange{
  background-color: #FF9E28 ;
}
ul.labels li.lime{
  background-color: #B6FF00 ;
}
ul.labels li.darkblue{
  background-color: #21007F ;
}
ul.labels li.leaf{
  background-color: #00CC00 ;
}
ul.labels li.yellow{
  background-color: #FFFF00 ;
}
ul.labels li.autumn{
  background-color: #B24700 ;
}
ul.labels li.frost{
  background-color: #80C8FE ;
}
ul.labels li.purple{
  background-color: #8E006B ;
}
ul.labels li.black{
  background-color: #000 ;
}


