<ul class="labels">
  <li class="blue"><span>blue label</span><a href="#"></a></li>
  <li class="lightblue"><span>light blue label</span><a href="#"></a></li>
  <li class="brown"><span>brown label</span><a href="#"></a></li>
  <li class="olive"><span>olive label</span><a href="#"></a></li>
  <li class="pink"><span>pink label</span><a href="#"></a></li>
  <li class="green"><span>green label</span><a href="#"></a></li>
  <li class="violet"><span>violet label</span><a href="#"></a></li>
  <li class="orange"><span>orange label</span><a href="#"></a></li>
  <li class="turk"><span>turkoise label</span><a href="#"></a></li>
  <li class="red"><span>red label</span><a href="#"></a></li>
  <li class="lime"><span>lime label</span><a href="#"></a></li>
  <li class="darkblue"><span>dark blue label</span><a href="#"></a></li>
  <li class="autumn"><span>autumn label</span><a href="#"></a></li>
  <li class="yellow"><span>yellow label</span><a href="#"></a></li>
  <li class="purple"><span>purple label</span><a href="#"></a></li>
  <li class="frost"><span>frost label</span><a href="#"></a></li>
  <li class="black"><span>black label</span><a href="#"></a></li>
</ul>
