<div id="ab" class="row" #abcd>
  <div class="col-md-9 col-sm-9 col-xs-9">
    <div class="container-fluid bg-2 text-center" >
      <h3>What Am I?</h3>
      <p>Lorem ipsum..</p>
    </div>

    <div class="container-fluid bg-3 text-center" [style.height.px]="3000" >
      <h3>Where To Find Me?</h3>
      <p>Lorem ipsum..</p>
    </div>

    <div class="container-fluid bg-2 text-center">
      <h3>Where To Find Me?</h3>
      <p>Lorem ipsum..</p>
    </div>

    <div class="container-fluid bg-3 text-center">
      <h3>Where To Find Me?</h3>
      <p>Lorem ipsum..</p>
    </div>

  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
   
        <div id="fixy" class="navCaps cdd" [style.position]="fixed" [style.top.px] = "top" [style.zIndex]="10"  >Something</div>
    


  </div>
</div>
